<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="log/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <div class="navbar">
        <ul class="cont">
            <li id="svg">
                <img src="/images/Logo.svg" alt="">
            </li>
            <li><a href="../Landing-page/index.html">HOME</a></li>
            <li><a href="../About-page/about.html">ABOUT</a></li>
            <li><a href="../Blog/blog.html">BLOG</a></li>
        </ul>
    </div>
    <div class="parent">
        <div class="parent-box">
            <form action="" class="parentRight" id="login">
                <h2>Sign Up ( For Admin ) </h2>
                <input type="email" class="field" name ="email" placeholder="Your Email">
                <div class="email error"></div>
                <input type="password" class="field" name ="password" placeholder="Enter your password">
                <div class="email error"></div>
                <button  id="insertBtn" class="btn">Sign up</button>  
            </form>
        </div>
    </div>

    
<script> 
const form = document.querySelector('#login');
const emailError = document.querySelector(".email.error");
const passwordError = document.querySelector(".password.error");
form.addEventListener('submit', async (e)=>{
    e.preventDefault();
// emailError.textContent = " ";
// passwordError.textContent = " ";

    // get the values
    const email = form.email.value;
    const password = form.password.value;
    try {
        const res = await fetch ('/auth/signup', {
            method: 'POST',
            body: JSON.stringify({email, password}),
            headers : {'Content-Type':'application/json'}
        })
        const data = await res.json();
        console.log(data);
        if (data.error){
            emailError.textContent = data.error.email;
            passwordError.textContent = data.error.password;
        }
    }
    catch(error) {
        console.log(error);
    }
})   
</script>
</body>
</html>