body {
    background-color: #BFD8BD;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 5%;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-top: 3em;
    margin-bottom: 2em;
}


.mainLeft, .mainRight {
    /* border: 5px solid red; */
}

.mainRight>img {
    width: 100%;
    height: auto;
}

.mainRight {
    padding: 3em 2em 2em 0;
    flex-basis: 60em;
    align-items: center;
}

.mainLeft>div {
    font-size: 36px;
    font-weight: 700;
}

.mainLeft>p {
    padding: 1em 0 1.5em 0;
    margin: unset;
}

.title {
    /* border: 5px solid rgb(55, 0, 255); */
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    padding-top: 4em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.border {
    width: 111px;
    height: 4px;
    border-top: 5px solid #CA8ECF;
    margin-top: 12px;
}

.topSection {
    /* border: 5px solid rgb(55, 0, 255); */
    display: flex;
    /* justify-items: center; */
    justify-content: space-between;
    padding-top: 1.5em;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    color: black;
    /* justify-content: space-around; */
}

ul li {
    padding-right: 1em;
}

ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

ul a:hover {
    color: #210424;
    border-bottom: 5px solid #eb00ff;
}

.bottomRect {
    background-color: #eb00ff;
    color: #eb00ff;
    height: 3.5em;
}

#colouser {
    margin-top: 2em;
}

.colouser {
    margin-top: 0.5em;
}

.header>h3 {
    display: flex;
    flex-direction: row;
    color: #CA8ECF;
    font-size: 24px;
    margin: unset;
    justify-content: center;
}

.header>h2 {
    /* color:#CA8ECF; */
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin: unset;
}

.toStyleButton {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    /* padding-top: 1em; */
    background-color: #eb00ff;
    padding: 0.25em 0.7em;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    justify-content: center;
}

div a:hover {
    color: black;
}