
html {
    width: fit-content;
}

body {
    /* background-color: rgb(192, 216, 212); */
    display: flex;
    flex-direction: column;
    margin-left: 17%;
    margin-right: 5%;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-image: url(../../../images/Landing.png);
    width: 78%
}


.main {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin-top: 3em;
    margin-bottom: 2em;
    align-content: center;
}

  /* Navbar styling  */
.navbar {
    width: 90%;
    /* background-color:rgb(190, 146, 231); */
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 4em;
    height: 100%
}

.navbar ul li {
    padding-right: 2em;
    font-weight:bold;
    /* height: 100%; */
    /* background-color: ; */
}


.navbar ul li a {
    color:  #1d1b1d;
}

.navbar ul li a:hover {
    /* background-color: #1d1b1d; */
    height: 100vh;
}

ul a {
    text-decoration: none;
}

.navbar ul li:first-child {
    margin-right: auto;
    margin-left: 2em;
}
/* Navbar end  */
.mainRight>img {
    width: 50%
    /* height: auto; */
}

.mainRight {
    padding: 3em 2em 2em 1em;
    flex-basis: 60em;
    align-items: center;
}

.mainLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 1em;
}

.mainLeft>.section>div {
    font-size: 36px;
    font-weight: 700;
}

.mainLeft>p {
    padding: 1em 0 1.5em 0;
    margin: unset;
}

.topSection {
    /* border: 5px solid rgb(55, 0, 255); */
    display: flex;
    /* justify-items: center; */
    justify-content: space-between;
    padding-top: 1.5em;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    color: black;
    /* justify-content: space-around; */
}

ul li {
    padding-right: 1em;
}

ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header>h3 {
    display: flex;
    flex-direction: row;
    color: #CA8ECF;
    font-size: 24px;
    margin: unset;
    justify-content: center;
}
.header>h2 {
    /* color:#CA8ECF; */
    
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin: unset;
}
.toStyleButton {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    /* padding-top: 1em; */
    
    background-color: #eb00ff;
    padding: 0.25em 0.7em;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    justify-content: center;
}

ul a:hover {
    /* color:#210424; */
    border-bottom: 5px solid #eb00ff;
    /* background-color: #eb00ff;
    padding: 0.25em 0.7em;
    border-radius: 0.8em;
    color: white; */
  }

/* div a:hover {
    color: black;
} */